html {
	height: 100%;
}

body {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	margin: 0;
}

.c {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 33.3333%;
	height: 90%;
	border-bottom: 1px solid #dedede;
	box-sizing: border-box;
}

.c + .c {
	border-left: 1px solid #dedede;
}

.c__label {
	text-align: center;
	font-family: monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border-bottom: 1px solid #dedede;
	width: 80%;
	height: 10%;
	box-sizing: border-box;
}

.c__count {
	text-align: right;
	font-family: monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 10px;
	border-bottom: 1px solid #dedede;
	width: 5%;
	height: 10%;
	box-sizing: border-box;
	color: #ccc;
}

.c__clear {
	box-sizing: border-box;
	width: 15%;
	height: 10%;
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #dedede;
}

.c__input {
	flex: 1;
	height: 90%;
	box-sizing: border-box;
	font-family: monospace;
	resize: none;
	background-color: rgba(255,255,255,0.75);
	padding: 5px 10px;
	border: none;
}

button {
	font-family: monospace;
	box-sizing: border-box;
	width: 100%;
	height: 10%;
	border: none;
	background-image: none;
	background-color: #fff;
}

button:active {
	background-color: #ff0;
}
